<h2>A venit o comandă!</h2>

<p>
  Metoda: <%= @method %>
</p>

<p>
  Nume: <%= @name %>
</p>

<p>
  Telefon: <%= @phone %>
</p>

<p>
  Adresa: <%= @address %>
</p>

<table>
  <thead>
  <td>Produs</td>
  <td>Cantitate</td>
  <td>Preț unitar</td>
  <td>Preț total</td>
  </thead>
  <tbody>
  <% total = 0 %>
  <% @basket.each do |prod_id, prod_qty| %>
    <% prod = Product.find(prod_id) %>
    <% total += prod.price * prod_qty %>
    <tr>
      <td><%= prod.name %></td>
      <td><%= prod_qty %></td>
      <td><%= price prod.price %></td>
      <td><%= price(prod.price * prod_qty) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h4>Total: <%= price total %></h4>