    <div class="off_canvars_overlay">

    </div>
    <%= render partial:"offcanvas_menu" %>

    <header>
        <div class="main_header">
            <%= render partial: "header_top" %>
            <%= render partial: "header_middle" %>
        </div>
    </header>
    <!--header area end-->
    <div class="shop_area shop_reverse mt-70 mb-70">
          <div class="container">
              <div class="row">
                <%= render partial:"sidebar_menu" %>
                <%= render partial: "product_area" %>
              </div>
          </div>
    </div>




    <%= render partial: "footer_area" %>

    <%= render partial: "modal_area" %>
