<p><%== pagy_nav(@pagy) %></p>
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Cod</th>
      <th>Nume</th>
      <th>Descriere</th>
      <th>Categorie</th>
      <th>Vizibil</th>
      <th>UM</th>
      <th>Preț</th>
      <th>Pas</th>
      <th>Promo</th>
      <th>Cantaribil</th>
      <th>Coeficient</th>
      <th>Preț Vechi</th>
      <th>Cantitate</th>
      <th colspan="3"> Action</th>
      <th>
        Categorie
      </th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td> <%= image_tag product.image_url([50,50]), size:"50x50" %> </td>
        <td> <%= product.externalid %> </td>
        <td><%= product.name %></td>
        <td><%= truncate(product.description, length: 20) %></td>
        <td><%= product.category&.name %></td>
        <td>
            <div class="form-group">
              <%= check_box_tag :is_visible, product.is_visible, product.is_visible,{onchange:"updateVisibility('#{product.id}')"} %>
            </div>
        </td>
        <td><%= product.um %></td>
        <td><%= price product.price %></td>
        <td><%= price product.buying_step %></td>
        <td><%= product.promo %></td>
        <td><%= product.cantaribil %></td>
        <td><%= product.coeficient %></td>
        <td><%= product.old_price ? (price product.old_price):'' %></td>
        <td><%= product.available_count %></td>
        <td>
          <%= link_to product do %>
          <span class="glyphicon glyphicon-eye-open"></span>
          <% end %>
        </td>
        <td>
          <%= link_to edit_product_path(product) do%>
            <span class="glyphicon glyphicon-pencil"></span>
          <%end%>
        </td>
        <td>
          <%= link_to product, method: :delete, data: { confirm: 'Ești sigur?' } do%>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </td>
        <td>
            <div class="form-group">
              <%= select_tag "category_id_#{product.id}", options_from_collection_for_select(@categories, "id", "selector_name", product.category_id) ,{include_blank:"Selecteaza categoria",onchange:"updateCategory(#{product.id}, this)",class:"form-control col-lg-10"} %>
            </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%== pagy_nav(@pagy) %></p>
