<p id="notice"><%= notice %></p>

<h1>Produse</h1>

<table>
  <thead>
    <tr>
      <th>Nume</th>
      <th>Descriere</th>
      <th>Categorie</th>
      <th>Vizibil</th>
      <th>Preț</th>
      <th>Bucăți disponibile</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= truncate(product.description, length: 20) %></td>
        <td><%= product.category.name %></td>
        <td><%= product.is_visible %></td>
        <td><%= price product.price %></td>
        <td><%= product.available_count %></td>
        <td><%= link_to 'Arată', product %></td>
        <td><%= link_to 'Modifică', edit_product_path(product) %></td>
        <td><%= link_to 'Șterge', product, method: :delete, data: { confirm: 'Ești sigur?' } %></td>
        <td>
          <%= form_with(model: product) do |f| %>
            <%= f.select :category_id, Category.all.map { |c| [c.name, c.id] } %>
            <%= f.submit 'Salvează categoria' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crează produs nou', new_product_path %> |
<%= link_to 'Înapoi la pagina de administrare', admin_private_path %>

