<p id="notice"><%= notice %></p>

<h1>Produse</h1>



<%= link_to 'Crează produs nou', new_product_path, class:"btn btn-primary" %> |
<%= link_to 'Înapoi la pagina de administrare', admin_private_path %>
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Nume</th>
      <th>Descriere</th>
      <th>Categorie</th>
      <th>Vizibil</th>
      <th>Preț</th>
      <th>Bucăți disponibile</th>
      <th colspan="4"> Action</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td> <%= image_tag product.image_url([50,50]), size:"50x50" %> </td>
        <td><%= product.name %></td>
        <td><%= truncate(product.description, length: 20) %></td>
        <td><%= product.category&.name %></td>
        <td><%= product.is_visible %></td>
        <td><%= price product.price %></td>
        <td><%= product.available_count %></td>
        <td><%= link_to 'Arată', product %></td>
        <td><%= link_to 'Modifică', edit_product_path(product) %></td>
        <td><%= link_to 'Șterge', product, method: :delete, data: { confirm: 'Ești sigur?' } %></td>
        <td>
          <%= form_with(model: product) do |f| %>
            <div class="form-group">
              <%= f.select :category_id, Category.all.map { |c| [c.name, c.id] },{}, {class:"form-control"} %>
              <%= f.submit 'Salvează categoria', class:'btn btn-sm btn-info' %>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
