<script type="text/javascript">
  function updateCategory(productId,selector) {
    var selectedIndex = selector.selectedIndex;
    var categoryId = selector.options[selectedIndex].value;
    console.log(categoryId);
    Rails.ajax({
      type:"PATCH",
      headers: {
          'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
        },
        beforeSend(xhr, options) {
        xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8')
        // Workaround: add options.data late to avoid Content-Type header to already being set in stone
        // https://github.com/rails/rails/blob/master/actionview/app/assets/javascripts/rails-ujs/utils/ajax.coffee#L53
        options.data = JSON.stringify({ product: {category_id: categoryId} })
        return true
      },
      url: "products/"+productId,
      contentType: "application/json",
      dataType: 'script',
      success: function(data) {},
      error: function(data) {}
    });
  }

  function updateVisibility(productId) {
    Rails.ajax({
      type:"GET",
      headers: {
          'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
        },
      url: "products/visibility/"+productId,
      contentType: "application/json",
      dataType: 'script',
      success: function(data) {},
      error: function(data) {}
    });
  }

  function showByCategory(selector) {
    var selectedIndex = selector.selectedIndex;
    var categoryId = selector.options[selectedIndex].value;
    console.log(categoryId);
    Rails.ajax({
      type:"GET",

      url: "products?c="+categoryId,
      contentType: "application/json",
      dataType: 'script',
      success: function(data) {},
      error: function(data) {}
    });
  }

  function filterByCode(selector) {
    var searchTerm = selector.value;
    console.log(searchTerm);
    if (searchTerm.length==0)
    Rails.ajax({
      type:"GET",
      url: "products",
      contentType: "application/json",
      dataType: 'script',
      success: function(data) {},
      error: function(data) {}
    });
    if (searchTerm.length>=1)
    Rails.ajax({
      type:"GET",
      url: "products?code="+searchTerm,
      contentType: "application/json",
      dataType: 'script',
      success: function(data) {},
      error: function(data) {}
    });
  }
</script>

<p id="notice"><%= notice %></p>

<h1>Produse</h1>



<%= link_to 'Crează produs nou', new_product_path, class:"btn btn-primary" %> |
<%= link_to 'Înapoi la pagina de administrare', admin_private_path %>

<div class="row">
  <%= form_with do |f| %>
    <div class="form-group col-lg-7">
      <%= f.label "Filtreaza" %>
      <%= f.select :category_id, [["Fara categorie",-1]] + Category.all.map { |c| [c.selector_name, c.id] } ,{include_blank:"Toate"}, {onchange:"showByCategory(this)",class:"form-control"} %>
    </div>
    <div class="form-group col-lg-5">
      <%= f.label "Cod Produs" %>
      <%= text_field_tag :code_search,nil, {class:"form-control", onkeyup:'filterByCode(this)'} %>
    </div>
  <% end %>

</div>

<div id="product_list">
  <%= render partial:'list' %>
</div>


<br>
