<article class="single_product">
    <figure>
        <div class="product_thumb">
            <a class="primary_img" href="product-details.html"><%=image_tag product.image_url([262,262])%></a>
            <a class="secondary_img" href="product-details.html"><%=image_tag product.image_url([262,262])%></a>
            <div class="label_product">
                <!-- <span class="label_sale">Sale</span>
                <span class="label_new">New</span> -->
            </div>
            <%= render partial:'add_to_cart', locals:{product:product} %>
        </div>
        <figcaption class="product_content">
          <h4 class="product_name"><a href="#"><%= product.name %></a></h4>
          <p><a href="#"><%= product.category&.name %></a></p>
          <%= render partial:'price_box', locals:{product:product} %>
        </figcaption>
    </figure>
</article>
