<div class="shop_toolbar_wrapper">
    <div class="shop_toolbar_btn">

        <button data-role="grid_3" type="button" class="active btn-grid-3" data-toggle="tooltip" title="3"></button>

        <button data-role="grid_4" type="button"  class=" btn-grid-4" data-toggle="tooltip" title="4"></button>

        <button data-role="grid_list" type="button"  class="btn-list" data-toggle="tooltip" title="List"></button>
    </div>
    <div class=" niceselect_option">
        <!-- <form class="select_option" action="#">
            <select name="orderby" id="short">

                <option selected value="1">Sort by average rating</option>
                <option  value="2">Sort by popularity</option>
                <option value="3">Sort by newness</option>
                <option value="4">Sort by price: low to high</option>
                <option value="5">Sort by price: high to low</option>
                <option value="6">Product Name: Z</option>
            </select>
        </form> -->
    </div>
    <div class="page_amount">
      <% if @pagy.count >  Pagy::VARS[:items]%>
        <p><%= (@pagy.page-1)*Pagy::VARS[:items]+1 %>  -  <%= @pagy.page*Pagy::VARS[:items] %> din <%= @pagy.count %> produse</p>
      <% elsif @products.size>0 %>
        <p><%= (@pagy.page-1)*Pagy::VARS[:items]+1 %>  -  <%= @products.size %> din <%= @products.size %> produse</p>
      <% end %>
    </div>
</div>
 <div class="row shop_wrapper">
   <% @products.each do |product| %>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 ">
        <div class="single_product">
            <div class="product_thumb">
                    <a class="primary_img" href="#"><%=image_tag product.image_url([262,262])%></a>
                    <a class="secondary_img" href="#"><%=image_tag product.image_url([262,262])%></a>
                    <div class="label_product">
                      <% if product.promo %>
                        <span class="label_sale">Promo</span>
                      <% end %>
                      <% if product.cantaribil %>
                        <span class="label_new">Cântăribil</span>
                      <% end %>
                    </div>
                    <div class="action_links">
                        <ul>
                            <li class="add_to_cart"><a title="Adaugă în coș <%= product.cantaribil ? "#{product.buying_step} kg" : ''%>" onclick="addToCart(<%= product.id %>)"><span class="lnr lnr-cart"></span></a></li>
                        </ul>


                    </div>
            </div>

            <div class="product_content grid_content">
                    <h4 class="product_name"><a href="#"> <%= product.name %></a></h4>
                    <p><a href="#"> <%= product.category&.name %></a></p>
                    <div class="price_box">
                        <span class="current_price">
                          <font size="6"><%= product.display_price %></font> lei/<%= product.um %>
                          <% if !product.cantaribil && product.display_per_kg_price%>
                            <sup><font size="1">(<%= product.display_per_kg_price %> lei/kg)</font> </sup>
                          <% end %>
                          <% if product.promo %>
                            <span class="old_price"><font size="5"><%= product.display_old_price %></font> lei/<%= product.um %></span>
                          <% end %>
                        </span>
                    </div>
                </div>
            <div class="product_content list_content">
                <h4 class="product_name"><a href="#"><%= product.name %></a></h4>
                <p><a href="#"><%= product.category&.name %></a></p>
                <div class="price_box">
                    <span class="current_price"> <font size="6"><%= product.display_price %></font> lei/<%= product.um %></span>
                    <% if product.promo %>
                      <span class="old_price"><font size="6"><%= product.display_old_price %></font> lei</span>
                    <% end %>
                </div>
                <div class="product_desc">
                    <p>
                      <%= product.description %>
                    </p>
                </div>
                <div class="action_links list_action_right">
                    <ul>
                        <li class="add_to_cart"><a onclick="addToCart(<%= product.id %>)" title="Adaugă în coș">Adaugă în coș <%= product.cantaribil ? "#{product.buying_step} kg" : ''%></a></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
    <% end %>
</div>

<div class="shop_toolbar t_bottom">
    <div class="pagination">
      <%== render partial: 'nav', locals: {pagy: @pagy} %>
    </div>
</div>
