<div class="col-lg-3 col-md-12">
                   <!--sidebar widget start-->
                    <aside class="sidebar_widget">
                        <div class="widget_inner">
                            <div class="widget_list widget_categories">
                              <div class="categories_title">
                                <h2>Categorii Produse</h2>
                              </div>
                              <ul>
                                  <% @main_categories.each do |category| %>
                                  <li class="widget_sub_categories sub_categories" >
                                      <a onclick="selectCategory(<%= category.id %>)" id="<%= category.id %>" class="<%= params[:c].to_i == category.id ? 'selected' : category.id == @selected_category.id ? 'active':''  %>">
                                        <%= category.name%>
                                      </a>
                                      <ul class="widget_dropdown_categories dropdown_categories_<%=category.id%>" style= "<%= category.id == @selected_category.id ? 'display:block;':'display:none' %>">
                                          <% category.subcategories.each do |subcategory| %>
                                            <li>
                                                <%= link_to subcategory.name, "/shop/#{subcategory.id}", class:params[:c].to_i == subcategory.id ? 'selected':''%>
                                            </li>
                                          <% end %>
                                      </ul>
                                  </li>
                                  <% end %>
                              </ul>
                            </div>
                        </div>
                    </aside>
                    <!--sidebar widget end-->
                </div>
