<!DOCTYPE html>
<html>
<head>
  <title>Patria</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <%= javascript_pack_tag "application" %>
    <%= stylesheet_link_tag "admin" %>
</head>

<body>

<p><!-- this should sit in the header (alxx) -->

</p>
    <% if @current_user %>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <ul class="nav navbar-nav">
              <li class=<%= params[:controller]=="admin" ? 'active':'' %>> <%= link_to "Home", "/admin/private" %> </li>
              <li class=<%= params[:controller]=="categories" ? 'active':'' %>>
                  <%= link_to "Categorii", categories_path %>
              </li>
              <li class=<%= params[:controller]=="products" ? 'active':''%>>
                  <%= link_to "Produse", products_path %>
              </li>
              <li class=<%= (params[:controller]=="admin" && params[:action] == 'orders') ? 'active':''%>>
                  <%= link_to "Comenzi", controller: 'admin', action: 'orders' %>
              </li>
              <li><%= link_to 'Logout', authentication_logout_path %></li>
            </ul>
          </div>
        </nav>
    <% end %>
    <div class="container-fluid admin-wrapper">
      <%= yield %>
    </div>
</body>
</html>
