<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Marion Trade – Online </title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <!-- Favicon -->
      <%= favicon_link_tag asset_path('favicon.ico') %>
      <%= javascript_include_tag "application" %>
      <%= stylesheet_link_tag "application" %>
      <!-- CSS
      ========================= -->
      <!--modernizr min js here-->
      <div class="off_canvars_overlay">

      </div>
      <%= render partial:"offcanvas_menu" %>

      <header>
          <div class="main_header">
              <%= render partial: "header_top" %>
              <%= render partial: "header_middle" %>
          </div>
      </header>
      <!--header area end-->
      <script type="text/javascript">

        function addToCart(productId) {
          $.ajax({
            url: "public/add_to_basket/"+productId+"/1"
          }).done(function() {
          });
        }

        function removeFromCart(productId) {
          $.ajax({
            url: "public/remove_from_basket/"+productId
          }).done(function() {
          });
        }

        function selectCategory(categoryId) {
          $.ajax({
            url: "public/index/"+categoryId
          }).done(function() {
          });
        }
      </script>
  </head>

  <body>
    <p id="notice"><%= notice %></p>

    <%= yield %>




        <%= render partial: "footer_area" %>

        <%= render partial: "modal_area" %>
  </body>
</html>
