<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Marion Trade – Online </title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <!-- Favicon -->
      <%= favicon_link_tag asset_path('favicon.ico') %>
      <%= javascript_include_tag "application" %>
      <%= stylesheet_link_tag "application" %>
      <!-- CSS
      ========================= -->
      <!--modernizr min js here-->
      <div class="off_canvars_overlay">

      </div>
      <%= render partial:"offcanvas_menu" %>

      <header>
          <div class="main_header">
            <%= render partial: "header_top" %>
            <% unless params[:action] == 'cart' %>
              <%= render partial: "header_middle" %>
            <% end %>
          </div>
      </header>
      <!--header area end-->
      <script type="text/javascript">

        function addToCart(productId) {
            var quantity = $('#cart_qty_' + productId).find('#js-qty-value').text();
            console.log('add to cart', quantity)
            $.ajax({
                url: "/public/add_to_basket/"+productId+"/"+ quantity + ""
            }).done(function() {
                    // show a feeback message & hide cart action links
                    $('#cart_qty_' + productId).find('.js-feedback').show();
                    $('#cart_qty_' + productId).find('.js-cart-actions').hide();
                    //reset quantity to default (1)
                    $('#cart_qty_' + productId).find('#js-qty-value').text(1);
                    setTimeout(function(){
                        $('#cart_qty_' + productId).fadeOut(1000, function() {
                            //show addToCart button again & hide feedback message
                            $('#cart_qty_' + productId).prev('.action_links').removeClass('d-none');
                            $('#cart_qty_' + productId).find('.js-feedback').hide();
                            $('#cart_qty_' + productId).find('.js-cart-actions').show();
                        });
                    }, 1000);
            });
        }

        function showProductQty(productId) {
            $('#cart_qty_' + productId).show();
            if ($('#cart_qty_' + productId).is(':visible')) {
                $('#cart_qty_' + productId).prev('.action_links').addClass('d-none');
                updateQty(productId);
            }
            else {
                $('#cart_qty_' + productId).prev('.action_links').removeClass('d-none');
            }
        }
        function updateQty(productId) {
            $('.js-choose-qty').off("click").on('click', function(e) {
              var $btn = $(this);
              var $qtyField = $btn.parents('#cart_qty_' + productId + '').find('#js-qty-value');
              var oldValue =  $qtyField.text();
              var newValue;
              if ($btn.hasClass('js-inc')) {
                newValue = parseFloat(oldValue) + 1;
              }
              else {
                oldValue > 1 ? newValue = parseFloat(oldValue) - 1 : newValue = 1;
              }

              $qtyField.text(newValue);
            });

            $('.js-cancel-cart').off("click").on('click', function(e) {
                $(this).parents('#cart_qty_' + productId).hide();
                $(this).parents('#cart_qty_' + productId).find('#js-qty-value').text(1);
                $(this).parents('#cart_qty_' + productId).prev('.action_links').removeClass('d-none');
            });
        }

        function removeFromCart(productId) {
          $.ajax({
            url: "public/remove_from_basket/"+productId
          }).done(function() {
          });
        }

        function selectCategory(categoryId) {
          $('.widget_dropdown_categories:visible').hide();
          $.ajax({
            url: "/shop/"+categoryId
          }).done(function() {
            $('.widget_sub_categories a.active').removeClass('active');
            $('.widget_sub_categories a.selected').removeClass('selected');
            $('#' + categoryId + '').addClass('selected');
          });
        }

        function searchProducts() {
          var searchTerm = $('#search').val();
          var categoryId = $('#categori1').options[$('#categori1').selectedIndex];
          alert(categoryId,searchTerm);
          if (searchTerm.length > 2) {
            $.ajax({
              method: "POST",
              url: "search",
              dataType:'script',
              data: {
                search: searchTerm
              }
            }).done(function() {
            });
          }
        }


      </script>
  </head>

  <body>
    <p id="notice"><%= notice %></p>

    <%= yield %>




        <%= render partial: "footer_area" %>

        <%= render partial: "modal_area" %>
  </body>
</html>
